.line{
    border:none;
    border-bottom: 1px solid gray;
    &:focus{outline: none;}
    }
    .form-control{
        margin-bottom: 15px;
        text-align: center;
        width: 325px 65px;
    }
    .container{
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Montserrat', sans-serif;

    }
    
    .styleButton{
        text-align: center;
        width: 120px;
        padding-left: 25px;
        padding-right: 25px;
        border-bottom: solid 1 px ;
    }
    .text3{
        font-weight: bold;
        font-size: 21px;
        padding-left: 66px;
        padding-right: 66px;
    }
    .text4{
    font-size: 15px;
    margin-top: 16px;
    margin-bottom: 46px;
    padding-left: 16px;
    padding-right: 16px;
    
    }
    .btn-info{
        margin-top: 40px;
        margin-bottom: 33px;
        margin-left: 15px;
        background-color: #57D4E4;
        color: white;
        width: 300px;
        align-items: center;
        
    }
    .stylenext{
        margin-bottom: 17px;
        color: #57D4E4;
        text-align: center;
    }