.btn-light{
    color: gray;
    background-color: white;
    border: grey 2px;
    width: 150px;
    align-items: center;
}
.container{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}