.container{
    font-family: 'Montserrat', sans-serif;

}
.title1{
    margin-bottom: 66px;
    font-weight: bold;  
    margin-top: 30px;
    font-size: 21px;
}
.subtitle2{
    padding-top: 67px;
    width: 69%;
    text-align: initial;
    font-size: 14px;
    color: grey;
    font-weight: bold;

}