a{
    text-decoration: none;
}

.c-logpage{
    margin: 0;
    padding: 0;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &div-prim{
        /* margin-left: 24px; */
    }
    &image{
        margin-top: 0px;
        max-width: 500px;
    }
    .div-sec{
        margin-left: 25px;
        width: 280px;
        height: 35px;
        border-bottom: 1px solid gray;
    }
    &input{
        font-family: 'Montserrat';
        background-color: transparent;
        border: none;
        color:gray
        &:focus{
            outline: none;
        }
    }
    &text-prim{
        padding-left: 25px;
        margin-top: 15px;
        margin-bottom: 15px;
        font-family: 'Montserrat', sans-serif;
        font-weight:600;
        font-size: 16pt;
    }
    &text-sec{
        padding-left: 25px;
        padding-right: 25px;
        font-family: 'Montserrat', sans-serif;
        font-size: 12pt;

    }
    &div-terc p{
        text-align: center;
        /* margin-left: -75px; */
    }
    &div-cto{
        /* margin-right: 150px; */
    }
    &img-cent{
        /* width: 290px; */
    }
}
.contbtn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.centrados{
    
    text-align: center;
}
.form{
    display:flex;
    flex-direction: column;
  
}
.pass{
    padding-left: 25px;
    padding-top:15px;
    color:#57D4E4;
}
.btn-mod{
    margin-top:5px;
    margin-bottom: 22px;
    background-color: #57D4E4;
    color:white;
    width: 300px;
    height: 50px;
    align-items: center;
}
.gris{
    color:gray;
}
.blue{
    color:#57D4E4;
}